      @font-face {
	  font-family: tahoma;
	  src: url(tahoma.ttf);
      }
      body {
        font-family:tahoma;
        color:black;
        font-size:13px;
      }
      * {
        box-sizing:border-box;
        padding:0;
        margin:0;
      }
      
      span.headerlabel{
        align:right;
      }
      
      span.headervalue{
        color:#045198;
      }

      .column {
        display: table-cell;
        padding: 15px;
      }
 
      .table {
        width:100%;
        display:table;
        border-style:solid;
      }

      #maintable {
	 border-width:0px 0px 2px 0px;
         border-color:white white #db2927 white;        
       }

      .headerright{
        text-align:right;
      }

      .skype{
        padding-left:4%;
        padding-right:2%;
      }
      
      .emptydiv{
	margin-top:2%;
	font-size:18px;
	position: relative;
        text-align:left;
      }

      .secondrow{
	width:900px;    
	background-color:#ececec;
	height:100%;
	transform: translateX(-50%);
	position:absolute;
        left:50%;    
      }

      #borderdiv {
	background-color:#ececec;
	border-color:#bcbcbc;  
	border-width:2px;  
	padding:20px 0px 20px 30px;  
      }  

      #divTableBody {  
        display:table-row-group;
      }    

      .divTableRow {  
        display:table-row;
      }  

      .tablecelldiv {
        padding-top:10px;
        display:table-cell;
      }

      #formheading {
        font-size:18px;
        color:#2c286d;
      }
      
      label.labels {
        font-size:14px;
        padding-right:10px;
      }
      
      input.text {
        background-color:white;
        border-color:#b9b9b9;
        width:360px;
        height:25px;
        padding-left:10px;
      }
      
      input.radio {
        padding-left:10px; 
      }
      label.radio {
      }
      
      select {
        padding-left:10px;
        background-color:white;
        width:110px;
        color:#6f6f6f;
      }
      
      input.textarea {
        padding-left:10px;
        background-color:white;
        border-color:#b9b9b9;
        width:360px;
        height:135px;
      }
      
      input.submit {
        background-color:#dc2927;
        border-color:#a10200;
        width:130px;
        height:32px;
        text-align:center;
        font-size:14px;
        color:white;
      }
      
      .tablecelllabel {
        text-align:right;
      }

      #addressdiv {
        vertical-align:top;
      }
